# Database
# Gunakan mysql+aiomysql untuk database MySQL (Lokal/Docker)
DATABASE_URL=mysql+aiomysql://root:password@localhost:3306/spk_hgo
DB_PASSWORD=password

# Redis
# Gunakan redis://localhost:6379/0 (Lokal) atau redis://hgo-redis:6379/0 (Docker)
REDIS_URL=redis://localhost:6379/0

# Backend Security
SECRET_KEY=32-random-characters-secret-key-hgo-discovery
ENVIRONMENT=development
DEBUG=True

# Frontend
VITE_API_URL=http://localhost:8000
